.personalInfo {
    background-color: #ccf8fc;
}

.contract {
    background-color: #ccf8fc;
}

.payInfo {
    background-color: #ccf8fc;
}

.masInfo {
    background-color: #ccf8fc;
}

.legend1 {
    background-color: #f8da42;
}

.legend2 {
    background-color: #f8da42;
}

.legend3 {
    background-color: #f8da42;
}

.legend4 {
    background-color: #f8da42;
}

.ph_pInfo {
    background-color: #fcf4cc;
}

.ph_dbanco {
    background-color: #fcf4cc;
}