body {
    background-color: #ccf8fc;

}
.personalInfo {
    background-color: #fcf4cc;
}

.contract {
    background-color: #ccfcce;
}

.payInfo {
    background-color: #fccfcc;
}

.masInfo {
    background-color: #f4ccfc;
}

.legend {
    background-color: #f8da42;
}

.ph_pInfo {
    background-color: #ccf8fc;
}

.ph_dbanco {
    background-color: #ccf8fc;
}

.titular {
    display: block;
    text-align: center;
    
}

